@model IEnumerable<PracticalExam.Database_Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<div>
    <a asp-controller="Employee" asp-action="Create">Create New</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsManger)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            
            <td>
                    @if (item.IsManger)
                    {
                        <text>Yes</text>
                    }
                    else
                    {
                        <text>No</text>
                    }
            </td>

            
            <td>
                <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.Id">Edit</a>           
                <a asp-action="ConfirmDelete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
